:root {
  --bg-color: #f8fafc;
  --card-bg-color: #ffffff;
  --color-lightwhite: #f8fafc;
  --color-lightgray: #d3d3d3;
  --color-gray: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, san-serif;
}

body {
  display: none;
}

#app {
  display: grid;
  place-items: center;
  background-color: var(--bg-color);
  height: 100vh;
}

.card-container {
  position: relative;
  background-color: var(--card-bg-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 480px;
  height: 300px;
}

button {
  background-color: transparent;
  border: none;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--color-gray);
}

h3 {
  padding: 2.5rem 0 2rem 3rem;
}

.search-container {
  display: grid;
  place-items: center;
  position: relaive;
}

input {
  background-color: var(--color-lightwhite);
  border: 1px solid var(--color-lightgray);
  border-radius: 30px;
  outline: none;
  padding: 1rem 1rem 1rem 3.4rem;
  width: 24rem;
}

.search-icon {
  position: absolute;
  left: 4rem;
  color: var(--color-gray);
}

.suggested-container {
  text-transform: uppercase;
  padding: 1.5rem 1rem 1rem 3rem;
}

h5 {
  padding-bottom: 0.4rem;
}

.box-container {
  display: flex;
  gap: 1rem;
  text-transform: none;
}

.box {
  display: flex;
  gap: 1rem;
  border: 1px solid var(--color-lightgray);
  border-radius: 10px;
  padding: 1rem;
  width: 160px;
  height: 60px;
}

.box-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 12px;
}
